{% extends 'base.html' %}

{% block titulo %}
    LP3 
{% endblock %}

{% block contenido %}
<h1>lp3</h1>
<div>
    <!-- Mostrar la imagen en el contenido -->
    <img src="{{ url_for('static', filename='img/fondo.jpg') }}" alt="" style="width: 95%; height:auto;">
</div>
{% endblock %}
<style>
    body {
        background-image: url("{{ url_for('static', filename='imag/fondo.jpg') }}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
</style>